.overlap-transition-main-animating {
    transition: transform 0.6s ease-in;
}

.overlap-transition-child-animating {
    position: absolute;
    transition: all 0.6s ease-out;
    top: 50%;
}

.overlap-transition-main-start {
    transform: scale(1);
}

.overlap-transition-main-end {
    transform: scale(0.6);
}

.overlap-transition-child-start {
    left: 100vw;
    transform: translateY(-50%);
}

.overlap-transition-child-end {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
