#start {
    transition: height 1s ease-in-out;

    & > div {
        height: 100%;
    }

    #instructions {
        height: 100%;

        .largeParagraph {
            font-size: 16px;
            font-weight: 600;

            & + p {
                margin: 40px 0;
            }
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 20px 0;

            li {
                padding: 6px 0;
            }
        }

        #letsGo {
            margin: 0 auto;
        }
    }

    #introVideo {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    #question {
        height: 100%;

        p {
            font-size: 40px;
            text-transform: none;
            margin: 0;
        }
    }

    #thanks {
        height: 100%;

        p {
            font-size: 40px;
            line-height: 120px;
            margin: 0;

            &.restart {
                font-size: 16px;
            }
        }
    }
}