#start {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: height 1s ease-in-out;

    & > div {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 0;
    }

    #instructions {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 0;
        justify-content: space-between;

        .instructions-wrapper {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 0;
            justify-content: center;
        }

        .largeParagraph {
            font-size: 16px;
            font-weight: 600;

            & + p {
                margin: 40px 0;
            }
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 20px 0;

            li {
                padding: 6px 0;
            }
        }

        #letsGo {
            margin: 0 auto;
        }
    }

    #introVideo {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    #question {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;

        p {
            font-size: 40px;
            text-transform: none;
            margin: 0;
        }
    }

    #thanks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        height: 100%;

        p {
            font-size: 40px;
            line-height: 120px;
            margin: 0;

            @media (max-width: $size-sm) {
                font-size: 24px;
                line-height: 40px;
            }

            &.restart {
                margin-top: 30px;
                font-size: 16px;
            }
        }
    }
}