#preview-video {
    padding: 0;

    video {
        width: 100%;
    }

    button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 40px;
        background: rgba(0, 0, 0, 0.4);
        color: white !important;
    }
}