.sound-meter-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .icon-microphone {
        position: relative;
        top: 2px;
        margin-right: 4px;
        font-size: 14px;
    }
}

.sound-meter {
    position: relative;
    width: 100%;
    height: 20px;
    border-radius: 2px;
    background: $lightgrey;
    overflow: hidden;

    .sound-meter-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $green;
        transform-origin: left;
        transition: transform 0.05s ease-in-out;
    }
}